<DOCTYPE html>
<html>
  <head>
    <title>Company Events Checker</title>
  </head>
  <body>
    <header>
      <p id="title">I love free pizza and beer from company shows at abakus.no!</p>
      <p><a href="/check">Check</a> if there is any company events that can be registered now!</p>
    </header>
  </body>
</html>


